# Python
*.py[cod]
__pycache__/
*.so
*.dylib
*.egg-info/
.Python
env/
venv/
ENV/
.venv/

# Backend virtual environment and sqlite DB
Backend/venv/
Backend/smartseason.db

# Alembic cache / temp
alembic.ini

# Node / frontend
node_modules/
Frontend/node_modules/
Frontend/dist/

# Vite / build
dist/
.vite/

# Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
